<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>My Real Bank</title>
</head>
<body>
<div align="center">
    <h1>My Real Bank - Transactions</h1>
    <br/><br/>
    <table border="1">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Account Number</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.customerId}">${transaction.customerId}</td>
                <td th:text="${transaction.accountNumber}"></td>
                <td th:text="${transaction.amount}"></td>
                <td th:text="${transaction.description}"></td>
                <td th:text="${#dates.format(transaction.date, 'dd-MM-yyyy')}"></td>
                <td th:text="${#dates.format(transaction.date, 'HH-mm-ss')}"></td>
                <td>
                	<a href="">Edit</a>
                	<a href="">Delete</a>
                	
                   <!--  <a th:href="/@{'/edit/' + ${transaction.transactionId}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="/@{'/delete/' + ${transaction.transactionId}}">Delete</a> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>